<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../Content/css/Product-styles.css" type="text/css">
    <title>Eloments</title>
  </head>
  <body>
    <div class="header-content">
      <h1 id="eloments">ELOMENTS</h1>
      <div class="navbar">
        <a href="/shop"><h2>Shop</h2></a>
        <a href="/our_story"><h2>Our Story</h2></a>
        <a href="/why_eloments"><h2>Why Eloments</h2></a>
        <a href="/blog"><h2>Blog</h2></a>
        <a href="/contact_us"><h2>Contact Us</h2></a>
      </div>
    </div>
  </body>
</html>
