<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../Content/css/Shop-styles.css" type="text/css">
    <title>Eloments</title>
  </head>
  <body>
    <div class="header-content">
      <h1 id="eloments">ELOMENTS</h1>
      <div class="navbar">
        <a href="/shop"><h2>Shop</h2></a>
        <a href="/our_story"><h2>Our Story</h2></a>
        <a href="/why_eloments"><h2>Why Eloments</h2></a>
        <a href="/blog"><h2>Blog</h2></a>
        <a href="/contact_us"><h2>Contact Us</h2></a>
      </div>
    </div>
    <div class="products">
      <div class="item-content">
        <img src="../Content/img/juice-bottle.jpg" alt="Picture of a cold pressed green juice, in a glass bottle, on a wooden table."/>
        <h2>Product Name 1</h2>
        <p>$10.00</p>
      </div>
      <div class="item-content">
        <img src="../Content/img/juice-bottle.jpg" alt="Picture of a cold pressed green juice, in a glass bottle, on a wooden table."/>
        <h2>Product Name 2</h2>
        <p>$10.00</p>
      </div>
      <div class="item-content">
        <img src="../Content/img/juice-bottle.jpg" alt="Picture of a cold pressed green juice, in a glass bottle, on a wooden table."/>
        <h2>Product Name 3</h2>
        <p>$10.00</p>
      </div>
    </div>
  </body>
</html>
