*,
*::before,
*::after {
  font-family: serif;
  color: #000000;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/*--------------------------Header Styles--------------------------*/
.header-content {
  margin-bottom: 50px;
}

#eloments {
  font-size: 50px;
  text-align: left;
  margin-bottom: 0px;
}

.navbar {
  position: absolute;
  right: 0%;
  margin-top: -60px;
}

.navbar h2 {
  float: left;
  font-weight: lighter;
  margin-right: 50px;
}

.navbar h2:hover {
  color: #FFFFFF;
  background-color: #000000;
  padding: 12px 12px 12px 12px;
}

/*--------------------------Image Styles--------------------------*/

.img-content {
  background-image: url("../img/juice-bottle.jpg");
  background-size: cover;
  height: 100vh;
  margin-left: -8px;
  margin-bottom: 50px;
}

/*--------------------------Text Styles--------------------------*/

.text-content {
  margin-bottom: 10%;
}

.text-content h2 {
  font-size: 40px;
  text-align: center;
}
